:root
{
  background-color: rgb(255, 230, 240);
  background-repeat: repeat;
}
@font-face
{  
    font-family: Helvetica;
    font-size: 15px;
    color: #000;
    background: #fff;
}
@font-face
{
  font-family: minecraft;
  src: url("fonts/Minecraft.ttf")
}
h1
{
  font-family: minecraft;
  font-size: 30pt;
  color: brown;
}
