:root
{
  background-color: rgb(255, 230, 240);
  backgroundn-repeat: repeat;
}
@font-face
{  
    font-family: Helvetica;
    font-size: 15px;
    color: #000;
    background: #fff;
}
@font-face
{
  font-family: minecraft;
  src: url("fonts/Minecraft.ttf")
  font-size: 30px;
  color: brown;
}
