:root
{
  background-color: rgb(167, 231, 250);
  background-repeat: repeat;
}
@font-face
{  
    font-family: Helvetica;
    font-size: 15px;
    color: #000;
    background: #fff;
}
@font-face
{
  font-family: minecraft;
  src: url("fonts/Minecraft.ttf")
}
h1
{
  font-family: minecraft;
  font-size: 50px;
  text-align: center;
  color: rgb(52, 174, 235);
  
}
h2
{
  font-family: minecraft;
  font-size: 20px;
  color: rgb(79, 38, 29);
}
p
{
  font-family: Helvetica;
  color: rgb(79, 38, 29);
}
li
{
  font-family: Helvetica;
  color: rgb(79, 38, 29);
}
img
{
  width: 50px;
  height: 50px;
  align: center;
}
th
{
  text-align: center;
  font-size: 50px;
  font-family: minecraft;
  color: rgb(79, 38, 29);
}
div, table
{
  text-align: center;
}
div, iframe
{
  width: 800px;
  height: 800px;
  margin: auto;
}
