:root
{
  background-color: rgb(227, 227, 255);
  background-repeat: repeat;
}
@font-face
{  
    font-family: apple;
    src: url("fonts/AppleGaramond.ttf");
}
@font-face
{
  font-family: applebold;
  src: url("fonts/AppleGaramond-Bold.ttf");
}
h1
{
  font-family: applebold;
  font-size: 50px;
  text-align: center;
  color: rgb(76, 76, 194);
}
h2
{
  font-family: applebold;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
}
p
{
  font-family: apple;
  text-align: center;
}
li
{
  font-family: apple;
  color: rgb(0, 0, 0);
}
img
{
  display: block;
  margin: auto;
  width: 50px;
}
th
{
  font-size: 50px;
  font-family: apple;
  color: rgb(0, 0, 0);
}
.center {
  margin-left: auto;
  margin-right: auto;
}
